* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Barlow Condensed", sans-serif;
}

h1,
h2 {
  font-family: "Bellefair", serif;
  color: #fff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

button,
img {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

p {
  line-height: 1.8;
}

.gray {
  color: #7e7e7e;
}

.white {
  color: #ffffff;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  padding: 24px 24px 0;
}

.home {
  background: url("./assets/home/background-home-mobile.jpg") no-repeat center/cover;
  height: calc(100vh + 1px);
}

@media screen and (min-width: 768px) {
  .home {
    background: url("./assets/home/background-home-tablet.jpg ") no-repeat center/cover;
  }
}

@media screen and (min-width: 1024px) {
  .home {
    background: url("./assets/home/background-home-desktop.jpg ") no-repeat center/cover;
  }
}

.home .overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: calc(100vh + 1px);
  padding-top: 58px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .home .overlay {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-top: 150px;
  }
}

@media screen and (min-width: 1024px) {
  .home .overlay {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 165px;
    text-align: left;
  }
}

.home .overlay .explore {
  margin-top: 80px;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: #ffffff;
  padding: 64px 27px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-animation: pulse-black 2s infinite;
          animation: pulse-black 2s infinite;
}

@media screen and (min-width: 768px) {
  .home .overlay .explore {
    height: 242px;
    width: 242px;
    padding: 102px 47px;
  }
}

@media screen and (min-width: 1024px) {
  .home .overlay .explore {
    height: 274px;
    width: 274px;
    margin-left: 200px;
    padding: 118px 63px;
  }
}

@-webkit-keyframes pulse-black {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

@keyframes pulse-black {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

.home .overlay .explore a {
  font-family: "Bellefair", serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 1.25px;
  color: #0b0d17;
}

@media screen and (min-width: 768px) {
  .home .overlay .explore a {
    font-size: 32px;
    line-height: 37px;
    letter-spacing: 2px;
  }
}

@media screen and (min-width: 1024px) {
  .home .overlay .explore a {
    font-size: 32px;
    line-height: 37px;
    letter-spacing: 2px;
    text-align: center;
  }
}

.home h4 {
  font-weight: 400;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 16px;
  line-height: 19.2px;
  letter-spacing: 2.7px;
  color: #d0d6f9;
}

@media screen and (min-width: 768px) {
  .home h4 {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 24px;
  }
}

@media screen and (min-width: 1024px) {
  .home h4 {
    text-align: left;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 4.725px;
  }
}

.home h1 {
  font-family: "Bellefair", serif;
  font-size: 80px;
  font-weight: 400;
  line-height: 150px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .home h1 {
    font-size: 150px;
    line-height: 150px;
    margin-bottom: 24px;
  }
}

@media screen and (min-width: 1024px) {
  .home h1 {
    text-align: left;
    font-size: 150px;
    line-height: 172px;
  }
}

.home p {
  padding: 0 25px;
  font-family: "Barlow";
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  text-align: center;
  color: #d0d6f9;
}

@media screen and (min-width: 768px) {
  .home p {
    padding: 0 162px;
    font-size: 16px;
    line-height: 28px;
  }
}

@media screen and (min-width: 1024px) {
  .home p {
    text-align: left;
    font-size: 18px;
    line-height: 32px;
    padding: 0 0;
  }
}
/*# sourceMappingURL=App.css.map */