* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  font-family: "Barlow Condensed", sans-serif;
}

h1,
h2 {
  font-family: "Bellefair", serif;
  color: #fff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

button,
img {
  user-select: none;
}

p {
  line-height: 1.8;
}

.gray {
  color: #7e7e7e;
}

.white {
  color: #ffffff;
}

.flex {
  display: flex;

  &-jc-sb {
    justify-content: space-between;
  }
}

.header {
  position: absolute;
  top: 0;
  left: 0;

  padding: 24px 24px 0;

  @media screen and (min-width: 768px) {
    display: flex;
    height: 100px;
    padding: 24px 39px 0;
  }

  @media screen and (min-width: 1024px) {
    padding: 64px 55px 0;
  }

  .navbar {
    position: fixed;
    inset: 0 0 0 30%;
    right: 0;
    top: 0;
    bottom: 0;
    left: 30%;
    padding: 118px 32px;

    background: rgba(0, 0, 0, 0.945);
    z-index: 1000;

    @supports (backdrop-filter: blur(81.5485px)) {
      background: rgba(255, 255, 255, 0.04);
      backdrop-filter: blur(81.5485px);
    }

    @media screen and (max-width: 767px) {
      // transform: translateX(100%);
    }

    @media screen and (min-width: 768px) {
      top: 20px;
      height: 96px;
      padding: 39px 47px;
    }
    @media screen and (min-width: 1024px) {
      top: 40px;
      padding: 39px 165px 39px 123px;
    }

    ul {
      @media screen and (min-width: 768px) {
        position: relative;
        display: flex;
        width: 100%;
        justify-content: space-between;
      }
      li {
        @media screen and (min-width: 768px) {
          display: flex;
          position: relative;
          margin: 0;
        }
        margin: 32px 0;
        color: #fff;

        a {
          @media screen and (min-width: 768px) {
            font-size: 14px;
            font-weight: 400;
            line-height: 17px;
            letter-spacing: 2.362499952316284px;
            text-align: left;
          }
          @media screen and (min-width: 768px) {
            font-size: 16px;
            font-weight: 400;
            line-height: 19px;
            letter-spacing: 2.700000047683716px;
            text-align: left;
          }

          .num {
            font-weight: 700;
            margin-right: 12px;
            letter-spacing: 2.7px;

            @media screen and (min-width: 768px) {
              display: none;
            }
            @media screen and (min-width: 1024px) {
              display: inline;
            }
          }
        }
      }
    }
  }

  .close {
    @media screen and (max-width: 767px) {
      transform: translateX(100%);
    }
  }

  .open {
    @media screen and (max-width: 767px) {
      transform: translateX(0%);
    }
  }

  .micon {
    z-index: 9999;

    button {
      color: #d0d6f9;
      background: none;
    }

    @media screen and (min-width: 768px) {
      display: none;
    }
  }
}

.home {
  background: url("./assets/home/background-home-mobile.jpg") no-repeat
    center/cover;
  height: calc(100vh + 1px);

  @media screen and (min-width: 768px) {
    background: url("./assets/home/background-home-tablet.jpg ") no-repeat
      center/cover;
  }
  @media screen and (min-width: 1024px) {
    background: url("./assets/home/background-home-desktop.jpg ") no-repeat
      center/cover;
  }

  .overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh + 1px);
    padding-top: 58px;
    text-align: center;

    @media screen and (min-width: 768px) {
      justify-content: flex-start;
      padding-top: 150px;
    }

    @media screen and (min-width: 1024px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1rem;
      justify-content: center;
      padding: 150px 165px 0;
      text-align: left;
    }

    .explore {
      margin-top: 80px;
      height: 150px;
      width: 150px;
      border-radius: 50%;
      background: #ffffff;
      padding: 64px 27px;
      transform: scale(1);
      animation: pulse-black 2s infinite;

      @media screen and (min-width: 768px) {
        height: 242px;
        width: 242px;
        padding: 102px 47px;
      }

      @media screen and (min-width: 1024px) {
        height: 274px;
        width: 274px;
        margin-left: 200px;
        padding: 118px 63px;
      }

      @keyframes pulse-black {
        0% {
          transform: scale(0.95);
          box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
        }

        70% {
          transform: scale(1);
          box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
        }

        100% {
          transform: scale(0.95);
          box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        }
      }

      a {
        font-family: "Bellefair", serif;
        font-size: 20px;
        font-weight: 400;
        line-height: 23px;
        letter-spacing: 1.25px;
        color: #0b0d17;

        @media screen and (min-width: 768px) {
          font-size: 32px;
          line-height: 37px;
          letter-spacing: 2px;
        }

        @media screen and (min-width: 1024px) {
          font-size: 32px;
          line-height: 37px;
          letter-spacing: 2px;
          text-align: center;
        }
      }
    }
  }

  h4 {
    font-weight: 400;
    font-family: "Barlow Condensed", sans-serif;
    font-size: 16px;
    line-height: 19.2px;
    letter-spacing: 2.7px;
    color: #d0d6f9;

    @media screen and (min-width: 768px) {
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 24px;
    }

    @media screen and (min-width: 1024px) {
      text-align: left;
      font-size: 28px;
      line-height: 34px;
      letter-spacing: 4.725px;
    }
  }

  h1 {
    font-family: "Bellefair", serif;
    font-size: 80px;
    font-weight: 400;
    line-height: 150px;
    text-align: center;

    @media screen and (min-width: 768px) {
      font-size: 150px;
      line-height: 150px;
      margin-bottom: 24px;
    }

    @media screen and (min-width: 1024px) {
      text-align: left;
      font-size: 150px;
      line-height: 172px;
    }
  }

  p {
    padding: 0 25px;
    font-family: "Barlow";
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    text-align: center;
    color: #d0d6f9;

    @media screen and (min-width: 768px) {
      padding: 0 162px;
      font-size: 16px;
      line-height: 28px;
    }

    @media screen and (min-width: 1024px) {
      text-align: left;
      font-size: 18px;
      line-height: 32px;
      padding: 0 0;
    }
  }
}
